body{
  margin: 0;
}
.developer {
  font-size: 60px;
  text-align: center;
}
.header {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.display-main-container {
  flex-shrink: 1;
  display: block;
}
.main-container {
  display: flex;
  flex-direction: column;
}
.filter-main-container {
  margin: 30px;
  border-radius: 20px;
  background-color: #fff;
}

.filter-heading {
  margin: 40px 20px;
  font-size: 20px;
  font-weight: 600;
}

.button {
    background: #DFFFDF /* #*/;
    color: #080808;
    padding: 0.5rem 2rem 0.4rem;
    text-decoration: none;
    font-size: 20px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: center;
    display: flex;
    flex-grow: 4;
    align-items: center;
    margin-bottom: 20px;
    outline-style: none;
}
.active-btn-launch-true,
.active-btn-launch-false,
.active-btn-land-true,
.active-btn-land-false,
.active-btn-year {
  background: #47cf73;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filter-subheading {
  margin: 40px 20px;
  font-size: 20px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
}
.display-detail-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 30px;
  border-radius: 20px;
  padding: 60px 30px;
  height: fit-content;
}
.display-image {
  background:#DCDCDC
}
.display-image-style {
  width: 100px;
  height:120px;
}
.mission-name {
  text-align: center;
  color: #7CB9E8;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
}
.display-mission-content {
  align-self: flex-start;
  margin-left: 40px;
  display: flex;
  align-items: flex-end;
  width: 80%;
}
.display-mission-id-list {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  width: 80%;
}

.display-mission-id {
  color: #7CB9E8;
  font-weight: 200;
  margin-left: 5px;
  font-size: 20px;
  align-self: flex-end;
}

.visually-hidden {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .header {
    font-size: 40px;
  }
  .main-container {
    flex-direction: row;
  }
  .filter-heading {
    font-size: 60px;
  }
  .filter-subheading {
    font-size: 40px;
  }
  .filter-main-container {
    margin: 20px;
    width: 220px;
    height: fit-content;
  }
  .display-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .display-image-style {
    width: 150px;
    height: 200px;
  }
  .display-detail-main-container {
    margin: 30px 13px;
    padding: 30px 20px;
  }
  .button {
    font-size: 20px;
    width: 30px;
    margin-bottom: 20px;
  }
  .mission-name {
    font-size: 20px;
    max-width: 50%;
  }
  .display-mission-id-list {
    font-size: 20px;
    font-weight: 500;
    max-width: fit-content;
  }
  .display-mission-id {
    font-size: 20px;
  }
  .display-mission-content {
    margin-left: 20px;
  }
}

@media (min-width: 1024px) {
  .header {
    font-size: 60px;
  }
  .filter-heading {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .filter-subheading {
    font-size: 60px;
  }
  .display-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  .main-container{
    flex-direction: row;
  }
  .filter-main-container {
    margin-right: 0px;
    height: fit-content;
    min-width: 235px;
    max-width: 235px;
  }
  .display-image-style {
    width: 170px;
    height:200px;
  }
  .filter-subheading{
    font-size: 24px;
    margin-bottom: 15px;

  }
  .button {
    font-size: 16px;
    height: 16px;
    width: 16px;
    margin-bottom: 20px;
  }
  .mission-name {
    max-width: 150px;
    font-size: 20px;
  }
  .display-mission-content {
    align-items: flex-end;
  }

.display-mission-id-list {
  font-size: 16px;
  max-width: 100px;
}
.display-mission-id {
  font-size: 16px;
  margin-left: 0px;
}
.display-detail-main-container{
  max-height: 400px;
}
.card-width {
  width: calc(18%);
}

}
